/* FONTS */
/*    
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
    font-family: Consolas, monaco, monospace;
    font-family: "Andale Mono", AndaleMono, monospace
    font-family: "Helvetica Neue", sans-serif;
*/
/* COLORS */
/*    
    Red     #D72300
    Yellow  #F5F808
    Blue    #4C82A1
*/



body {
    background: #000;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 1.6px;
    margin: 0;
    padding: 0;
    border: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    letter-spacing: 0.8px;
    color: #FFFFFF;
}

h2 {
    font-weight: 200;
}

p {
    color: #FFFFFF;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 133%;
}

/*.gr {
    font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
}*/

img {
    border: 0;
    padding: 0;
}

img#avatar {
    margin: 21px 150px;
}

#user-menu a, #content a, #menu a, #footer a {
    text-decoration: none;
}

#user-menu a:link, #user-menu a:visited, #user-menu a:hover, #user-menu a:active {
    color: #FFFFFF;
}

#content a:link, #details a:link {
    color: #F5F808;
}

#content a:active {
    color: #F5F808;
}

#content a:visited {
    color: #B8BA33;
}

#content a:hover {
    color: #D72300;
    border-bottom: 1px dotted #F5F808;
}

#menu a:link, #menu a:visited {
    color: #F5F808;
}

#menu a:hover {
    color: #D72300;
}

#menu a:active {
    color: #D72300;
}

#footer a:link, #footer a:visited {
    color: #4C82A1;
}

#footer a:hover,#footer a:active {
    color: #D72300;
}

#menu #name {
    font-size: 39px;
    font-weight: 300;
    letter-spacing: 1.9px;
    color: #FFFFFF;
}

.menu-item {
    margin: 3px 3px;
    font-size: 27px;
    font-weight: 100;
    letter-spacing: 1.3px;
    width: auto;
}

.menu-background {
    background: #303030;
    padding: 0px 3px;
}

#wiki-content {
    color: #FFFFFF;
}

#wiki-content pre {
    color: #FFFFFF;
    margin: 10px 15px 10px 15px;
    padding: 9px 9px 12px 9px;
    outline: #4C82A1 dashed 1px;
    background-color: #303030;
    overflow-x: auto;
}

#editorarea {
    font-family: "Andale Mono", AndaleMono, monospace;
    font-size: 16px;
    font-weight: 200;
    margin: 10px;
    padding: 10px;
}

#cv .headers {
    
}

#cv .location {
    padding: 0px;
    margin-top: 0px;
    margin-left: 15px;
}

#footer p {
    color: #fff;
    font-size: 11px;
    font-weight: 200;
    line-height: 110%;
    letter-spacing: 0.8px;
    margin: 0px;
    padding-left: 20px;
}

ul.sitemap {
    list-style: none;
} 

ul.nobullet {
    list-style-type: none;
    padding: 0;
}

ul.bullet {
    list-style-type: square;
} 

.classfctn {
    float: left;
    list-style-type: none;
    margin-right: 2em;
}

.end {
    list-style-type: none;
}

.indent {
    float: left;
    position: relative;
    width: 6em;
    height: 3em;
    padding-left: 3em;
    border-right: 1px solid #fff;
    margin-right: 1em;
}

.indent b {
    position: relative;
    top: 0.5em;
    font-size: 18px;
    font-weight: normal;
}

ul,dt,dd {
    position: relative;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1.8px;
    line-height: 133%
}

#login {
    position: relative;
    bottom: 10px;
    margin-right: 5px;
}

#login td {
    color: #FFFFFF;
    padding: 0.25em 0.5em;
}

#papers td {
    color: #FFF;
}

#papers td.title span {
    text-align: right;
    font-size: 115%;
    font-weight: bold;
    background: rgb(48,48,48);
    background: rgba(48,48,48,0.9);
}

.ascensorLinkActive {
    border-bottom: 1px dotted #F5F808;
}

.largemap {
    width:900px;
    height:60%;
}

ul.photo-list {
    margin: 0 0 30px 0;
    padding: 0;
    list-style-type: none;
    color: black;
}

ul.photo-list li {
    position: relative;
}

ul.photo-list li img {
    position: relative;
}

span.photo-title {
    position: absolute;
    top: 42px;
    padding: 10px;
    font-size: 45px;
    font-weight: 300;
    letter-spacing: 1.3px;
}

span.photo-blurb {
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 100;
    color: #FFFFFF;
    font-weight: 100;
    font-size: 15px;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 9px;
    display: none;
}

.outline {
    background: #fff;
    padding: 5px;
}