/* 
    Document   : layout
    Created on : Feb 2, 2013, 11:54:23 PM
    Author     : paskel
    Description:
        Purpose of the stylesheet follows.
*/


#header {
    position: absolute;
    left: 33px;
/*    background: #303030;*/
    margin: 0;
    padding: 0;
    z-index: 10;
}

#user-menu {
    position:relative;
    float: right;
}

#menu {
    position: absolute;
    left: 20px;
    width: 225px;
    margin: 0;
    background: #303030;
    border-left: 1px solid #FFF;
    border-right: 1px solid #FFF;
    z-index: 9;
}

#menu-div {
    height: 140px;
    margin-top: 110px;
    margin-bottom: 40px;
}

#content {
    position: relative;
    left: 140px;
    max-width: 1000px;
    min-height: 323px;
    padding: 1.5em 1.5em 5em 1.5em;
/*    margin-right: 165px;*/
}

#footer {
    font-weight: normal;
    position: absolute;
    left: 20px;
    top: 483px;
    width: 225px;
    margin: 0px;
    background: #303030;
    border-left: 1px solid #FFF;
    border-top: 1px dotted #FFF;
    border-right: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
}

.left {
    float: left;
}

.right {
    float: right;
}

.leftLink { 
    position: relative;
    float: left;
}

table {
    table-layout: fixed;
    border: none;
}

#project-menu {
    width: 858px;
}

.project-tile {
    position: relative;
    padding: 6px 15px;
}

#papers {
    width: 890px;
}

#papers th {
    color: #FFF;
    background-color: #303030;
}

#papers th.title {
    position: relative;
    width: 200px;
}

#papers th.desc {
    width: 470px;
}

#papers th.details {
    width: 220px;
}

#papers td.desc {
    padding-left: 5px;
    padding-right: 5px;
}

#papers td.title img {
    float: right;
}

#papers td.title span {
    position: absolute;
    width: 195px;
    margin-top: 20px;
    padding-right: 5px;
}

.fade {
    display: table-row
}

.fade img:last-child {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    padding: 6px 15px;
}

#ascensor-fix {
    position:relative;
    left: -325px;
    width: 99%;
    height: 100%;
}

.ascensor-nav {
    margin: 0;
    padding: 0 3px;
}

.ascensor-nav li {
    display: inline;
    list-style-type: none;
    padding-right: 15px;
}

.container {
    max-width: 100%;
    width:900px;
    margin: 0 auto;
    padding: 0px 0px 0px 250px;
}

#photo {
    position: relative;
    float: left;
    width: 720px;
    margin-bottom: 50px;
}

#photo-sidebar {
    position: relative;
    float: right;
    width: 235px;
    color: #FFF;
}

#photo-caption {
    padding-top: 0.6em;
    padding-bottom: 1em;
}

#photo-details {
    width: 250px;
}

#photo-details .header {
    color: dimgrey;
    text-align: right;
}

#photo-map {
    width: 250px;
    padding-top: 1em;
}