/* 
    Document   : wedding
    Created on : Nov 14, 2012, 6:47:48 PM
    Author     : paskel
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 14px;
    margin: 20px 100px;
    padding: 0;
    border: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#content {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
}

h2 {
    font-size: 18px;
    font-weight: lighter;
}

h6 {
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
}

p {
    margin-left: 15px;
}

#venue {
    margin: 20px 0px 0px 15px;
}

#image-mah {
    margin-right: 10px;
    padding-left: 30px;
    padding-bottom: 10px;
}

#image-gt {
    position: relative;
    top: 12px;
    margin-left: 40px;
}

.right {
    position: relative;
    float: right;
}